.psk-table_time {
    width: 20%;
}

.psk-overview {
    margin-top: 34px;
    margin-bottom: 34px
}

.psk-footer {
    border-top: 1px solid #000;
    padding-top: 34px;
    padding-bottom: 55px
}

.navbar-brand {
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
}

.navbar-nav>li>a.psk-nav_link:hover {
    opacity: 0.5;
}

.psk-navbar_info {
    font-weight: 400;
    color: rgba(255, 255, 255, .4);
    font-size: 12px;
}

.psk-label {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .2px
}

.psk-label {
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
    text-transform: uppercase;
    color: #666;
}

.psk-table_added, .psk-table_started, .psk-table_ended, .psk-table_lastseen, .psk-table_size {
    text-align: right;
}

.psk-table_badge {
    font-size: 14px;
    letter-spacing: .2px;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    color: #fff;
}

.page_container {
    background-color: #fff;
}

.page_content {
    min-height: 100vh;
    position: relative;
    z-index: 2;
    transform: translate3d(0, 0, 0);
    background-color: #fff;
    transition: all .3s ease
}

.p-header-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.wait-time {
    color: #aaa;
}

body {
    background: #d5e4ec;
    background-color: rgba(0, 0, 0, .03);
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

table {
    font-size: 14px;
    line-height: 20px;
    color: #000;
}

.title-form {
    padding: 20px 0 20px 0;
}

.container {
    max-width: 1920px
}

.container .jumbotron {
    border-radius: 3px;
}

.jumbotron {
    margin-top: 20px;
    background: #fff;
    border: 1px solid #dddddd;
    border-radius: 3px
}

.navbar-brand {
    padding: 15px 10px 15px 15px;
}

.nav>li>a {
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

@media (max-width:768px) {
    h2 {
        font-size: 20px;
    }
}

@media (max-width:1000px) {
    .block-active-application,
    .block-create-application {
        display: none;
    }
}


h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 a:hover {
    text-decoration: none;
}

.page_content {
    background-color: transparent;
}

.title-block {
    border-bottom: 1px solid rgba(0, 0, 0, .03);
    background-color: rgba(0, 0, 0, .03);
}

.navbar-inverse {
    background-color: #404040;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar {
    margin-bottom: 0;
}

.padding {
    padding-top: 20px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #99b4c3;
    border-left-width: 5px;
    border-radius: 3px;
    margin-top: 0;
}

.bs-callout-danger {
    border-left-color: #ce4844;
}

.bs-callout-success {
    border-left-color: #1b809e;
}

.entity-block {
    display: inline-block;
    padding-right: 6px;
}

a.entity-link {
    color: #2d3e54;
    text-decoration: none;
}

a.entity-link:hover .entity-item {
    background-color: #fdfdfd;
}

@media (min-width:1000px) {
    .entity-block {
        width: 25%;
    }
}

@media (max-width:1000px) {
    .entity-block {
        width: 100%;
    }
}

.entity-item {
    width: 100%;
    background-color: #fff;
    min-height: 120px;
}

.line-limit {
    white-space: nowrap;
    overflow: hidden;
}
