<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#jobs">Пескарь</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="psk-nav_link" href="#jobs">Задачи</a></li>
                <li><a class="psk-nav_link" href="#workers">Агенты</a></li>
                <li><a class="psk-nav_link" href="#work_time">График работы</a></li>
                <li><a class="psk-nav_link" href="#config">Настройки</a></li>
            </ul>
        </div>
    </div>
</nav>
