<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#jobs"><span class="fa fa-hashtag"></span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#jobs">Jobs</a></li>
                <li><a href="#workers">Workers</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/paradev-ru/peskar-hub"><strong>{{ version }}</strong></a></li>
            </ul>
        </div>
    </div>
</nav>
