<ng-include src="partialsPath + '/navbar.html'"></ng-include>

<div class="title-block">
    <div class="container">
        <h2 class="p-header-text"><a href="#jobs">Задачи</a> / <a href="#job/{{ job.id }}">#{{ job.id }}</a> / Правка</h2>
    </div>
</div>

<div class="container psk-overview">
    <div class="row">
        <div class="col-md-6">
            <form name="job" ng-submit="edit()">
                <div class="form-group">
                    <label class="psk-label" for="inputName">Название</label>
                    <input type="text" ng-model="job.name" name="jobName" class="form-control" id="inputName">
                </div>
                <div class="form-group">
                    <label class="psk-label" for="inputDescription">Короткое описание</label>
                    <textarea class="form-control" ng-model="job.description" name="jobDescription" id="inputDescription" rows="2"></textarea>
                </div>
                <div class="form-group">
                    <label class="psk-label" for="inputInfoUrl">Ссылка на информацию</label>
                    <input type="text" ng-model="job.info_url" name="appInfoUrl" class="form-control" id="inputInfoUrl" autocomplete="off">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="job.$invalid" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
