<ng-include src="partialsPath + '/navbar.html'"></ng-include>

<div class="title-block">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>Jobs</h2>
            </div>
            <div class="col-md-3 text-right block-create-application">
                <button style="margin-top: 30px;" ng-click="gotoadd()" class="btn btn-success">Create Job <span class="fa fa-plus"></span></button>
            </div>
        </div>
    </div>
</div>

<div class="container padding">
    <div ng-repeat="job in jobs" class="entity-block">
        <a href="#job/{{ job.id }}" class="entity-link">
            <div class="bs-callout entity-item" ng-class="{'bs-callout-success': job.state == 'working' || job.state == 'requested'}">
                <h4 class="job-title" ng-show="job.name.length"><nobr>{{ job.name }}</nobr></h4>
                <h4 class="job-title" ng-hide="job.name.length"><nobr>{{ job.download_url | filename }}</nobr></h4>
                <p>{{ job.state }}<span class="wait-time" ng-show="job.state == 'pending'"> for a {{ job.added_at | diff }}</span></p>
            </div>
        </a>
    </div>
</div>
