<ng-include src="partialsPath + '/navbar.html'"></ng-include>

<div class="title-block">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>Workers</h2>
            </div>
        </div>
    </div>
</div>

<div class="container padding">
    <div ng-repeat="worker in workers" class="entity-block">
        <div class="entity-link">
            <div class="bs-callout entity-item" ng-class="{'bs-callout-success': worker.state == 'active'}">
                <h4><nobr>{{ worker.ip }}</nobr></h4>
                <p>{{ worker.user_agent }}</p>
                <p>
                    <span class="wait-time" ng-show="(worker.last_seen_at | date:'yyyy') != '0001'">Last seen {{ worker.last_seen_at | diff }} ago</span>&nbsp;
                </p>
            </div>
        </div>
    </div>
</div>
