<ng-include src="partialsPath + '/navbar.html'"></ng-include>

<div class="title-block">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>Workers</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="alert alert-danger" role="alert" ng-show="!online">
        <a href="#" class="alert-link">Cant connect to API server.</a>
    </div>
    <div ng-show="online">
        <div>
            <p ng-show="workers | isEmpty">
                Empty list.
            </p>
            <table class="table" ng-hide="workers | isEmpty">
                <tr>
                    <th>IP</th>
                    <th>User-Agent</th>
                    <th>State</th>
                </tr>
                <tr ng-repeat="worker in workers">
                    <td>{{ worker.ip }}</td>
                    <td>{{ worker.user_agent }}</td>
                    <td>{{ worker.state }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
