<ng-include src="partialsPath + '/navbar.html'"></ng-include>

<div class="title-block">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2 class="p-header-text">Агенты</h2>
            </div>
        </div>
    </div>
</div>

<div class="container psk-overview">
    <div style="padding-bottom: 20px;">
        <div class="row">
            <div class="col-md-4">
                <label class="psk-label" for="searchText">Поиск</label>
                <input class="form-control" name="searchText" id="searchText" type="text" ng-model="searchText">
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>IP-адрес</th>
                <th>User-Agent</th>
                <th class="psk-table_lastseen">Последняя активность</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="worker in workers | orderBy:'-last_seen_at' | filter:searchText">
                <td>{{ worker.ip }}</td>
                <td>{{ worker.user_agent }}</td>
                <td class="psk-table_lastseen">{{ worker.last_seen_at | date : 'dd.M.yyyy, HH:mm' }}</td>
            </tr>
        </tbody>
    </table>
</div>
